* {
    font-family: "Raleway";
}

html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    overflow: hidden;
    position: relative;
    font-size: 16px;
}

.save-indicator {
    width: 48px; height: 48px;
    background: #3498db;
    border-radius: 24px;
    border: none;
    color: #FFF;
    transition: all 0.5s;
    position: absolute;
    z-index: 999;
    bottom: 20px; left: 20px;
    outline: none;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    opacity: 0;
}

@-webkit-keyframes flashAnim {
    0% { opacity: 0; }
    10% { opacity: 1; }
    100% { opacity: 0; }
}

.save-indicator.anim {
    animation: flashAnim 1s;
}

button {
    width: 48px; height: 48px;
    background: #FAFAFA;
    border-radius: 24px;
    border: none;
    color: #888;
    transition: all 0.5s;
    position: absolute;
    z-index: 999;
    bottom: 20px; right: 20px;
    cursor: pointer;
    outline: none;
    opacity: 0.3;
    display: none;
}

button:hover {
    transform: rotate(360deg);
    background: #718c00;
    color: #FFF;
    opacity: 1;
}

#btnPreview {
    display: block;
}

#btnEdit {
    display: none;
}

.card {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    overflow-y: auto;
}

.card#preview {
    padding: 20px;
    display: none;
    box-sizing: border-box;
}

/* Special formats */

.card#preview code {
    border-radius: 3px;
    border: none;
    background: #F3F3F3;
    padding: 3px;
    font-size: 0.92em;
    font-family: "Lucida Console", Monaco, monospace;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    color: #c82829;
}

.card#preview pre {
    background: #292929;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.card#preview pre code {
    background: transparent;
    color: #FFF;
    padding: 0;
}

.card#preview pre code, .card#preview pre code * {
    font-family: "Lucida Console", Monaco, monospace !important;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    font-size: 13px;
}

.card#preview blockquote {
    border-left: 3px solid #DDD;
    background: #EFEFEF;
    margin: 0; padding: 10px;
}

.card#preview ul {
    list-style: none;
    margin-left: 0;
    padding-left: 10px;
}

.card#preview ul li {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.card#preview ul li item::before {
    content: " ";
    margin: 0; padding: 0;
    margin-right: 10px;
    display: inline-block;
    float: left;
    width: 12px; height: 12px;
    border-radius: 10px;
    border: 3px solid #de935f;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
}

.card#preview ul li item.done::before {
    border-color: #718c00;
    background: #b5bd68;
}

.card#preview ul li item.done {
    color: #CCC;
    text-decoration: line-through;
}

#editor-panel {
    position: relative;
}

.card textarea {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%; height: 100%;
    padding: 20px;
    border: none;
    outline: none;
    line-height: 26px;
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    color: #999;
    white-space:pre-wrap;
	word-wrap: break-word;
    resize: none;
    -webkit-text-fill-color: transparent;
}

.card textarea::-webkit-input-placeholder {
    -webkit-text-fill-color: initial;
}

.editor-output {
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100%; height: 100%;
    padding: 20px; margin: 0;
    border: none;
    outline: none;
    line-height: 26px;
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    pointer-events: none;
    white-space:pre-wrap;
	word-wrap: break-word;
    overflow-y: auto;
    color: #444;
}

.editor-output * {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
}

.hljs-header {
    font-weight: bold;
    color: #c0392b !important;
}

.hljs-bullet {
    color: #d35400;
}

.hljs-strong {
    font-weight: bold;
    color: #000;
}

.hljs-code {
    color: #8e44ad;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-blockquote {
    opacity: 0.8;
    font-style: italic;
}
